@model ShopTheThao.Models.User

@{
    Layout = null;
}
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Style.css" />

<div id="form-dangky">
    @using (Html.BeginForm("DangKy","User", FormMethod.Post))
      {
         @Html.AntiForgeryToken()
    <table >
        <tr class="title-form">
            <th colspan="2">Đăng Ký</th>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FullName)</td>
            <td>@Html.TextBoxFor(m => m.FullName)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.FullName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.TextBoxFor(m => m.UserName)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.UserName)</td>
        </tr>


        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.Password)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Address)</td>
            <td>@Html.TextBoxFor(m => m.Address, new {style = "width:100%;" })</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.Address)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.TextBoxFor(m => m.Email, new { style = "width:100%;" })</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>

        <tr >
            <td colspan="2">
                @if(ViewBag.error != null)
                {
                    <span class="field-validation-error">@ViewBag.error</span>
                }    
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Phone)</td>
            <td>@Html.TextBoxFor(m => m.Phone)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.Phone)</td>
        </tr>


        <tr>
            <td>
            </td>

            <td>
                <input class="btn btn-primary" type="submit" value="Đăng Ký" />
                <input class="btn btn-primary" type="reset" value="Làm Mới" />
                <a class="btn btn-primary" href="@Url.Action("DangNhap","User")">Đăng Nhập</a>
            </td>
        </tr>
    </table>
      }
</div>
