@using ShopTheThao.Models;
@model PagedList.IPagedList<SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="row px-xl-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">

                    <img class="img-fluid w-100" src="~/Assets/Images/@item.HinhChinh" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="~/SanPham/ChiTietSanPham?id=@item.MaSanPham"><i class="fa fa-search"></i></a>
                    </div>
                </div>

                <a class="h6 text-decoration-none text-truncate" href="~/SanPham/ChiTietSanPham?id=@item.MaSanPham">@item.TenSanPham</a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>@string.Format("{0:#,0}", @item.GiaBan)₫</h5>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                </div>
            </div>
        </div>
    }


    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page,@sTuKhoa= ViewBag.TuKhoa }))
